# F7

## Task

1都6県のそれぞれにおいて2019年4月（休日・昼間）と2020年4月（休日・昼間）の人口増減率 ((pop_202004 - pop_201901)/pop_201904)が一番小さい駅を示せ.
（出力は県名、駅名、人口増減率とすること）

## prerequisites

In [1]:
import os
from sqlalchemy import create_engine
import pandas as pd
import geopandas as gpd
import numpy as np
import folium
pd.set_option('display.max_columns', 100)

/usr/local/lib/python3.8/site-packages/geopandas/_compat.py:111: UserWarning: The Shapely GEOS version (3.10.2-CAPI-1.16.0) is incompatible with the GEOS version PyGEOS was compiled with (3.10.1-CAPI-1.16.0). Conversions between both will be slow.
  warnings.warn(

In [2]:
def query_pandas(sql, db):
    """
    Executes a SQL query on a PostgreSQL database and returns the result as a Pandas DataFrame.

    Args:
        sql (str): The SQL query to execute.
        db (str): The name of the PostgreSQL database to connect to.

    Returns:
        pandas.DataFrame: The result of the SQL query as a Pandas DataFrame.
    """

    DATABASE_URL='postgresql://postgres:postgres@postgis_container:5432/{}'.format(db)
    conn = create_engine(DATABASE_URL)

    df = pd.read_sql(sql=sql, con=conn)

    return df

## Define a sql command

In [5]:
# 「全鉄道駅の人口」の解釈が読み取れなかったので,planet_osm_pointの鉄道駅の座標を含むpop_meshメッシュの人口をその鉄道駅の人口として扱っています.

sql = """
    WITH comp AS (
        SELECT poly.name_1 AS pref, pt.name AS station, pm.name AS meshid FROM planet_osm_point AS pt, adm2 AS poly, pop_mesh AS pm
        WHERE pt.railway='station' AND
            st_within(pt.way, st_transform(poly.geom, 3857)) AND
            st_within(pt.way, st_transform(pm.geom, 3857))
    ), 
    pop2019 AS (
        SELECT mesh1kmid, population FROM pop
        INNER JOIN pop_mesh ON pop_mesh.name = pop.mesh1kmid
        WHERE dayflag='0' AND
            timezone='0' AND
            year='2019' AND
            month='04'
    ),
    pop2020 AS (
        SELECT mesh1kmid, population FROM pop
        INNER JOIN pop_mesh ON pop_mesh.name = pop.mesh1kmid
        WHERE dayflag='0' AND
            timezone='0' AND
            year='2020' AND
            month='04'
    )
    SELECT buffer.pref, buffer.station, buffer.change_rate FROM (
        SELECT comp.pref, comp.station, SUM((pop2020.population-pop2019.population)/pop2019.population) AS change_rate, 
        ROW_NUMBER() OVER (
            PARTITION BY comp.pref
            ORDER BY SUM((pop2020.population-pop2019.population)/pop2019.population) ASC
        ) AS rank
        FROM comp
        INNER JOIN pop2019 ON comp.meshid = pop2019.mesh1kmid
        INNER JOIN pop2020 ON comp.meshid = pop2020.mesh1kmid
        GROUP BY comp.station, comp.pref
    ) AS buffer
    WHERE buffer.rank=1
    """

## Outputs

In [6]:
out = query_pandas(sql,'gisdb')
print(out)

       pref      station  change_rate
0     Chiba         成田空港    -1.694435
1     Gunma          湯檜曽    -0.847619
2   Ibaraki         筑波山頂    -0.892368
3  Kanagawa           横浜    -3.072829
4   Saitama           大宮    -2.517489
5   Tochigi  あしかがフラワーパーク    -0.918191
6     Tokyo           新宿    -3.981754